<div>
  <h1>ExpenseTracker</h1>
  <p>Take Control of Your Expenses</p>
  <p>
    <%= link_to "Get Started", new_user_registration_path %> |
    <%= link_to "Sign In", new_user_session_path %>
  </p>
</div>
